.imag_center {
    text-align: center;
    display: block;
}

.imgf {
    margin-left: 80%;
}

.cep {
    text-align: center;
    display: block;
}

.Fondo {
    background-image: url("assets/Fondo_1.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 1400px;
    background-attachment: fixed;
}

.button {
    margin: 0;
    position: absolute;
    top: 5%;
    left: 97%;
    min-width: 700px;
}

.button a {
    text-decoration: none;
    font-size: 28px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #314652;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}

.button a:hover {
    transform: scale(1.2);
}

/* i{text-align: center; font-size: 25px; color: black; margin: 20px; border-radius: 50%; padding: 15px; box-shadow: 0px 5px 10px rgb(0,0,0,.35); transition: .3s ease;} */
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(112, 14, 14);
}

p {
    font-style: italic;
}

li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: rgba(239, 177, 245, 0.281);
}